body {
    background-color: #3c096c;
    text-align: center;
    color: white;
    user-select: none;
    margin: 0;
}

body,
input,
button,
select,
option {
    font-family: 'Rethink Sans', sans-serif;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.bg-img {
    position: absolute;
    opacity: 0.4;
    filter: blur(1px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.topbar {
    height: 35px;
    width: 100%;
    background-color: white;
    -webkit-app-region: drag;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px 0;
}

.topbar div {
    height: 100%;
    display: flex;
    align-items: center;
}

.topbar h3 {
    margin-left: 10px;
    font-weight: 600;
}

.topbar button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s;
    height: 100%;
    aspect-ratio: 1/1;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.topbar button:hover {
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 0;
    color: white;
}

.resolutionSettings {
    margin-top: 10px;
    display: flex;
}

.resolutionSettings section {
    display: flex;
    flex-direction: column;
}

input[type=number] {
    border-radius: 30px;
    border: 3px solid rgba(81, 30, 101, 0.402);
    text-align: center;
    background: none;
    color: white;
    font-size: 1.1rem;
    padding: 5px 0;
    margin: 2px 5px;
    max-width: 100px;
    transition: 0.2s;
}

input[type=number]:focus {
    outline: none;
    border-color: white;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.42);
    -moz-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.42);
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.42);
}

input[type=number]:hover {
    border-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    border: 3px solid rgba(81, 30, 101, 0.402);
    border-radius: 30px;
    font-size: 1.1rem;
    padding: 5px 5px;
    background: none;
    color: white;
    transition: 0.2s;
    text-align: center;
}

select:focus {
    outline: none;
    border-color: white;
}

select:hover {
    border-color: white;
    cursor: pointer;
}

option {
    background-color: #4E3E77;
}

option:focus {
    background-color: #2a1f46;
}

button {
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 2px 5px;
    font-size: 1.1rem;
    background: none;
    border: 3px solid rgba(81, 30, 101, 0.402);
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: white;
    border-color: white;
    color: rgb(52, 26, 60);
    cursor: pointer;
}
