body {
    background-color: #3c096c;
    text-align: center;
    color: white;
    user-select: none;
    margin: 0;
    overflow: hidden;
}

body,
input,
button,
select,
option {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.bg-img {
    position: absolute;
    opacity: 0.4;
    filter: blur(1px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    overflow:hidden;
}

.topbar {
    height: 35px;
    width: 100%;
    background-color: white;
    -webkit-app-region: drag;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px 0;
}

.topbar div {
    height: 100%;
    display: flex;
    align-items: center;
}

.topbar h3 {
    margin-left: 10px;
    font-weight: 600;
}

.topbar button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s;
    height: 100%;
    aspect-ratio: 1/1;
    -webkit-app-region: no-drag;
    cursor: pointer;
    border-radius: 15px;
}

.topbar button:hover {
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 0;
    color: white;
}

.resolutionSettings {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
}

.resolutionSettings section {
    display: flex;
    flex-direction: column;
}

input[type=number] {
    border-radius: 30px;
    border: 3px solid rgba(81, 30, 101, 0.58);
    text-align: center;
    background: none;
    color: white;
    font-size: 1.1rem;
    padding: 5px 0;
    margin: 2px 5px;
    max-width: 100px;
    transition: 0.2s;
}

input[type=number]:focus {
    outline: none;
    border-color: white;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.42);
    -moz-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.42);
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.42);
}

input[type=number]:hover {
    border-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    border: 3px solid rgba(81, 30, 101, 0.58);
    border-radius: 30px;
    font-size: 1.1rem;
    padding: 5px 5px;
    background: none;
    color: white;
    transition: 0.2s;
    text-align: center;
    margin-bottom: 15px;
}

select:focus {
    outline: none;
    border-color: white;
}

select:hover {
    border-color: white;
    cursor: pointer;
}

option {
    background-color: #4E3E77;
}

option:focus {
    background-color: #2a1f46;
}

button {
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 2px 5px;
    font-size: 1.1rem;
    background-color: rgba(81, 30, 101, 0.58);
    border: 3px solid rgba(81, 30, 101, 0.58);
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: white;
    border-color: white;
    color: rgb(52, 26, 60);
    cursor: pointer;
}

#confirmbtn:hover + #tooltips {
    color: black;
}

label {
    font-size: 1.1rem;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(81, 30, 101, 0.58);
    border-radius: 50%;
    border: 3px solid rgba(81, 30, 101, 0.58);
    transition: 0.2s;
}

.container:hover input~.checkmark {
    background-color: rgba(81, 30, 101, 0.965);
    border-color: rgba(255, 255, 255, 0.965);
}

.container input:checked~.checkmark {
    background-color: rgba(81, 30, 101, 0.965);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#tooltip {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    opacity: 0.6;
}

.hidden {
    display: none;
}

.shake {
    -webkit-animation: kf_shake 0.4s 1 linear;
    -moz-animation: kf_shake 0.4s 1 linear;
    -o-animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
    0% { -webkit-transform: translate(30px); }
    20% { -webkit-transform: translate(-30px); }
    40% { -webkit-transform: translate(15px); }
    60% { -webkit-transform: translate(-15px); }
    80% { -webkit-transform: translate(8px); }
    100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
    0% { -moz-transform: translate(30px); }
    20% { -moz-transform: translate(-30px); }
    40% { -moz-transform: translate(15px); }
    60% { -moz-transform: translate(-15px); }
    80% { -moz-transform: translate(8px); }
    100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
    0% { -o-transform: translate(30px); }
    20% { -o-transform: translate(-30px); }
    40% { -o-transform: translate(15px); }
    60% { -o-transform: translate(-15px); }
    80% { -o-transform: translate(8px); }
    100% { -o-origin-transform: translate(0px); }
}

#errormsg {
    color: rgb(211, 44, 44);
    font-weight: 600;
    position: absolute;
    bottom: 45px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
}

#errormsg.show {
    opacity: 1;
    transition: 0.3s;
}